@mixin btn {
    display: inline-block;
    padding: $btn-padding-v $spacing;
    
    font-family: $font-family-1;
    font-size: $fs;
    font-weight: $font-medium;
    
    text-align: center;
    text-decoration: none;
    line-height: $btn-line-height;
    
    border:1px solid;
    border-radius: $border-radius;
    outline: none;
    
    cursor: pointer;
    transition: $transition-linear;
    
    &:hover, &:focus {
        transition: $transition-linear;
    }
    
    &:focus {
        outline: 1px solid $primary;
    }
    
}

@mixin btn-circle {
    $size: 46px; 
    
    @include btn;
    
    width: $size;
    height: $size;
    padding: 0;
    border-radius: 50%;
}

.btn {
    @include btn;
}

.btn-circle {
    @include btn-circle;
}


//----------------------
// BTN SOLID
@mixin btn-solid(
    $color: $white,
    $color-bg: $primary,
    $color-hover: $black,
    $color-bg-hover: $white
) {
        
    color: $color;
    background-color: $color-bg;
    border-color: $color-bg;
    
    &:hover, &:focus {
        color: $color-hover;
        background-color: $color-bg-hover;
        border-color: $color-bg-hover;
    }
}

// BTN PRIMARY
@mixin btn--primary {
    @include btn-solid;
}

.btn--primary {
    @include btn--primary;
}

// BTN SNOW
@mixin btn--snow {
    @include btn-solid($black, $snow, $black, $light-grey);
}

.btn--snow {
    @include btn--snow;
}

//----------------------
// BTN RESET
@mixin btn--reset {
    color: $black;
    background-color: transparent;
    border: none;
    outline: 0;
    border-radius: 0;
    box-shadow: 0;
    font-family: $font-family-1;
    font-size: $fs;
    font-weight: $font-regular;
    text-transform: inherit;
    padding: 0;
    
    &:hover {
        color: $black;
        background-color: none;
    }
}

.btn--reset {
    @include btn--reset;
}

.btn-search {
    @include btn--reset;
    
    cursor: pointer;
    padding: 0 $form-padding 0 0 ; 
}