$spacings: (
    spacing: $spacing,
    spacing-2: $spacing-2,
    spacing-half: $spacing-half
);

@each $key, $value in $spacings {
    .#{$key} {
        padding: $value !important;
    }
    
    .#{$key}-h {
        padding-left: $value !important;
        padding-right: $value !important;
    }

    .#{$key}-v {
        padding-top: $value !important;
        padding-bottom: $value !important;
    }

    .#{$key}-top {
        padding-top: $value !important;
    }

    .#{$key}-bottom {
        padding-bottom: $value !important;
    }

    .#{$key}-left {
        padding-left: $value !important;
    }

    .#{$key}-right {
        padding-right: $value !important;
    }

}